<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.spotifyinfo"
        version="1.0.0" 
        xmlns="http://www.w3.org/ns/widgets" 
        xmlns:gap="http://phonegap.com/ns/1.0">

    <name>Orientation</name>
    <description>
        A little page about Spotify.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />

    <plugin name="cordova-plugin-splashscreen"
            source="npm" 
            spec="~3.2.1" />
    
    <preference name="Fullscreen"
                value="true" />  
    <preference name="SplashScreenDelay"
                value="10000" />

    <platform name="android">
        <icon density="*" src="www/img/logo.png" />

        <splash density="*" src="www/img/intro.png" />
    </platform>   

</widget>
