<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.spotifyinfo"
        version="1.0.0" 
        xmlns="http://www.w3.org/ns/widgets" 
        xmlns:gap="http://phonegap.com/ns/1.0">

    <name>Orientation</name>
    <description>
        A little page about Spotify.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />

    <plugin name="cordova-plugin-splashscreen"
            source="npm" 
            spec="~3.2.1" />
    
    <preference name="Fullscreen"
                value="true" />  
    <preference name="SplashScreenDelay"
                value="10000" />

    <platform name="android">
        <icon density="*" src="www/img/logo.png" />

        <splash density="land-ldpi" src="www/android/drawable-land-ldpi-screen.png" />
        <splash density="land-mdpi" src="www/android/drawable-land-mdpi-screen.png" />
        <splash density="land-hdpi" src="www/android/drawable-land-hdpi-screen.png" />
        <splash density="land-xhdpi" src="www/android/drawable-land-xhdpi-screen.png" />
        <splash density="land-xxhdpi" src="www/android/drawable-land-xxhdpi-screen.png" />
        <splash density="land-xxxhdpi" src="www/android/drawable-land-xxxhdpi-screen.png" />
        <splash density="port-ldpi" src="www/android/drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="www/android/drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="www/android/drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="www/android/drawable-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src="www/android/drawable-port-xxhdpi-screen.png" />
        <splash density="port-xxxhdpi" src="www/android/drawable-port-xxxhdpi-screen.png" />
        <!-- <splash density="*" src="www/img/logo.png" /> -->
    </platform>   

</widget>
